.jimi-logo {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.page-content-register-user {
    min-height: 600px;
    margin-top: 80px;
    padding: 25px 20px 10px;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.card-box-register-user {
    max-width: 30em;
}

.fixed {
    position: fixed;
}

.dishes-page-content {
    padding: 25px 20px 10px;
}

.dishes-page-container {
    margin-top: 50px;
    padding: 0;
    position: relative;
}

p {
    color: rebeccapurple;
}