.jimi-logo {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.page-logo {
    box-sizing: border-box;
}

.page-footer {
    box-sizing: border-box;
}

.page-content-wrapper {
    margin-bottom: 80px;
}

.page-content-register-user {
    min-height: 600px;
    margin-top: 80px;
    padding: 25px 20px 10px;
}

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.card-box-user {
    margin: 0 auto;
    float: none;
    max-width: 30em;
}

.card-box-table-index {
    max-width: 60em;
}

.fixed {
    position: fixed;
}

.dishes-page-content {
    padding: 25px 20px 10px;
}

.dishes-page-container {
    margin-top: 50px;
    padding: 0;
    position: relative;
}

p {
    color: rebeccapurple;
}

.form-with-buttons {
    margin-top: 1em;
    margin-right: 1em;
}

.rebeccapurple-color {
    background-color: #663399 !important;
    border: 1px solid #663399 !important;
    color: #fff !important;
}

.rebeccapurple-color:active,
.rebeccapurple-color:focus,
.rebeccapurple-color:hover,
.rebeccapurple-color.active,
.rebeccapurple-color.focus,
.rebeccapurple-color:active,
.rebeccapurple-color:focus,
.rebeccapurple-color:hover,
.open > .dropdown-toggle.rebeccapurple-color {
    background-color: #663399 !important;
    border: 1px solid #663399 !important;
    color: #fff !important;
}